# ctags
tags

# YouCompleteMe configuration
.ycm_extra_conf.py
__pycache__

# Visual Studio Code configuration
.vscode

# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Vim editing files
*.swp

# Lua local repositories
luarocks

# FusionScript compiled files cache
fs-cache/
